
<div id="sign-in-page">
  <h3> Create a New Account! </h3>

  <%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>

<%end%>

<h4> Already have an account? <%= link_to "Log In here", login_path, class: "login-button" %></h4>
</div>
